@font-face {
    font-family: hongkong;
    src: url(./hongkong.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(./OpenSans-Bold.ttf);
}
@font-face {
    font-family: Avengers;
    src: url(./The_Avengers.otf);
}
@font-face {
    font-family: Snoopy;
    src: url(./snoopy_reg-webfont.otf);
}

@font-face {
    font-family: tb;
    src: url(./tb4Z0vnEjBKa.woff);
}