@font-face {
    font-family: hongkong;
    src: url(./hongkong.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(./OpenSans-Bold.ttf);
}
@font-face {
    font-family: Avengers;
    src: url(./The_Avengers.otf);
}