@font-face {
  font-family: "iconfont"; /* Project id 3980064 */
  src: url('iconfont.woff2?t=1680251373602') format('woff2'),
       url('iconfont.woff?t=1680251373602') format('woff'),
       url('iconfont.ttf?t=1680251373602') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test2:before {
  content: "\e608";
}

.icon-jurassic_message:before {
  content: "\e69f";
}

.icon-liuyanban-05:before {
  content: "\e630";
}

.icon-icon-test:before {
  content: "\e663";
}

.icon-icon-test1:before {
  content: "\e668";
}

.icon-huaxiangfenxi:before {
  content: "\e73c";
}

.icon-svg-:before {
  content: "\e624";
}

.icon-svg-1:before {
  content: "\e625";
}

.icon-yiguanzhu:before {
  content: "\e600";
}

.icon-sixin:before {
  content: "\e788";
}

.icon-sixin1:before {
  content: "\e602";
}

.icon-sixin2:before {
  content: "\e62c";
}

.icon-redian:before {
  content: "\e651";
}

.icon-redian-shi:before {
  content: "\e65d";
}

.icon-sixin3:before {
  content: "\e634";
}

.icon-sixin4:before {
  content: "\e613";
}

.icon-dibudaohanglan-:before {
  content: "\e631";
}

.icon-luxian:before {
  content: "\e874";
}

.icon-guanzhu-weiguanzhu:before {
  content: "\e703";
}

.icon-wodeguanzhu:before {
  content: "\e8bc";
}

.icon-ef-redian-gongju:before {
  content: "\e629";
}

.icon-route1:before {
  content: "\e6ab";
}

.icon-sixin5:before {
  content: "\e614";
}

.icon-tuijian:before {
  content: "\e63c";
}

.icon-moban:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e60d";
}

.icon-fasong:before {
  content: "\e60e";
}

.icon-shanchu:before {
  content: "\e60f";
}

.icon-fuzhi:before {
  content: "\e610";
}

.icon-chuangyizhan:before {
  content: "\e611";
}

.icon-shipin:before {
  content: "\e612";
}

.icon-ercikaifa:before {
  content: "\e62f";
}

.icon-cunchu:before {
  content: "\e609";
}

